data/*.rda
data/*.rds
figures/*.png
figures/*.pdf
oldfigures/
olddata/
oldcode/
raw-data/
presentation/
*.pdf
*.png
*.jpg
*.Rproj
.Rproj.user
.Rhistory
.RData
.Ruserdata
*.ods
*.odt
*.xlsx
*.pdf
*.docx
*.log
*.bbl
*.aux
*.blg
*.fdb_latexmk
*.fff
*.fls
*.out
*.html
*.Rmd
